# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.pyc

# Arduino
**/build/
*.elf
*.hex

# IDE
.vscode/
.idea/

# Log exports
comm-log-*.txt
UI/UI/diag-log.txt
log/diagnostic-*.txt

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
